html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#fafafa;
}

/* override height restriction on browserrouter component */
.Navigation-root-1{
  height:100% !important;
}

main{
  padding: 100px;
}

/* override bottom-left graph control */
#GraphControls{
  position:absolute;
  top:60px;
  left:50% !important;
  transform:translateX(-50%);
}