html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#fafafa;
}

/* override height restriction on browserrouter component */
.Navigation-root-1{
  height:100% !important;
}

main{
  padding: 100px;
}

